* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    border-bottom: 2px solid gainsboro ;
    background-color: #eee;
    z-index: 1;
}
.logo{
    height: 100px;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:350px;
    gap: 1rem;
  
}

.container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 1rem;
}

.card {
    padding: .5rem;
    width: 250px;
    & img {
        width:100%;
    }
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.users {
    text-align: center;
    padding: 2rem;
}

.login-form input[type="text"], 
.login-form input[type="password"] {
    padding-right: 2.5rem; /* Növeli a jobb oldali padding-et az ikon helyigényének ellensúlyozására */
    box-sizing: border-box;
    width: 100%; /* Biztosítja, hogy az input mezők teljes szélességükben látszódjanak */
}

@media  (max-width: 768px){
    .logo {
        height:50px ;
    }
    form {
        width: 100%;
    }
    .header {
        padding: 1rem;
        justify-content: center;
    }
    body {
        min-width: 320px;
    }
}